@page "/About"
<div class="d-flex flex-column align-items-center mt-5">
    <br/>
    <h2 class="text-center">This page is currently under construction</h2>
    <img src="img/construction.gif"/>
</div>
@code {
    
}